.article-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.article-top .article-container {
    width: 720px;
}

.article-top .article-container .project {
    margin: 0px 8px 56px 8px;
}